.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@font-face {
  font-family: "TT Barrels Trl3";
  font-style: normal;
  font-weight: 300;
  src: local("TT Barrels Trl"),
    url("https://fonts.cdnfonts.com/s/96459/TT Barrels Trial Regular.woff")
      format("woff");
}

@font-face {
  font-family: "TT Barrels Trl2";
  font-style: normal;
  font-weight: 200;
  src: local("TT Barrels Trl"),
    url("https://fonts.cdnfonts.com/s/96459/TT Barrels Trial Regular.woff")
      format("woff");
}

.store-header h2 {
  margin-left: 50px;
  font-family: "TT Barrels Trl3";
}
.store-search-container {
  display: flex;
  align-items: center;
  margin-right: 90px; /* Điều chỉnh khoảng cách phải của phần tìm kiếm */
}

input {
  padding: 8px;
  margin-right: 5px;
}

button[type="button"] {
  background-color: #f05d4a;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button[type="button"]:hover {
  background-color: #f05d4a;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h2 {
  text-align: left;
  padding-left: 10px;
}
/* ------------------------------------------------------------------- */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Căn đều các cột trên mỗi hàng */
}

.product-card {
  width: calc(25% - 20px); /* Chiều rộng của sản phẩm, giảm 20px để có khoảng cách giữa các sản phẩm */
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  max-width: 60%;
  max-height: 50px; /* Đặt kích thước tối đa theo chiều cao */
  height: auto;
}

.product-card h3 {
  font-size: 12px;
  margin: 10px 0;
  color: #333;
  text-align: center; /* Căn giữa văn bản */
  font-family: "TT Barrels Trl2";
}

.product-card p {
  margin: 0;
  color: #777;
  text-align: center; /* Căn giữa văn bản */
}

@media (max-width: 1200px) {
  .product-card {
    width: calc(33.33% - 20px); /* Hiển thị 3 sản phẩm trên mỗi hàng khi màn hình nhỏ hơn 1200px */
  }
}

@media (max-width: 992px) {
  .product-card {
    width: calc(50% - 20px); /* Hiển thị 2 sản phẩm trên mỗi hàng khi màn hình nhỏ hơn 992px */
  }
}

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px); /* Hiển thị 2 sản phẩm trên mỗi hàng khi màn hình nhỏ hơn 768px */
  }
}

@media (max-width: 480px) {
  .product-card {
    width: calc(100% - 20px); /* Hiển thị 1 sản phẩm trên mỗi hàng khi màn hình nhỏ hơn 480px */
  }
}
/* -------------------------------------------------------------------- */
.button-container {
  width: 20px; /* Đặt kích thước nút */
  height: 20px; /* Đặt kích thước nút */
  margin: 15px; /* Khoảng cách giữa nút Mua và nút trái tim */
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #f05d4a;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  margin: 0 5px;
  transition: background-color 0.3s;
  font-family: "TT Barrels Trl2";
}

button:hover {
  background-color: #f05d4a;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #f05d4a;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  margin: 0 5px;
  margin-top: 30px;
  transition: background-color 0.3s;
  border-radius: 10%;
}

.pagination button:hover {
  background-color: #d1483c;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navigation-buttons button {
  background-color: #f05d4a;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  margin: 0 5px;
  transition: background-color 0.3s;
  border-radius: 10%;
}

.navigation-buttons button:hover {
  background-color: #d1483c;
}
